<app-navigation></app-navigation>
<div class="challenges-container" *ngIf="isTasksLoaded">
  <div class="sort-container">
    <label for="search">Search:</label>
    <input
      type="text"
      name="search"
      [(ngModel)]="sort.searchTerm"
      (input)="onSearch()"
    />
    <div class="radio-buttons-container" *ngIf="!isAdmin">
      <label>
        <input
          type="radio"
          name="sort"
          value="most-solved"
          [(ngModel)]="sort.sort"
          (change)="onSortChange()"
        />
        Most solved
      </label>
      <label>
        <input
          type="radio"
          name="sort"
          value="least-solved"
          [(ngModel)]="sort.sort"
          (change)="onSortChange()"
        />
        Least solved
      </label>
      <label>
        <input
          type="radio"
          name="sort"
          value="newest"
          [(ngModel)]="sort.sort"
          (change)="onSortChange()"
        />
        Newest
      </label>
      <label>
        <input
          type="radio"
          name="sort"
          value="oldest"
          [(ngModel)]="sort.sort"
          (change)="onSortChange()"
        />
        Oldest
      </label>
    </div>
    <div class="radio-buttons-container">
      <label>
        <input
          type="radio"
          name="all"
          value="all"
          [(ngModel)]="sort.complexity"
          (change)="onComplexityChange()"
        />
        All
      </label>
      <label>
        <input
          type="radio"
          name="easy"
          value="easy"
          [(ngModel)]="sort.complexity"
          (change)="onComplexityChange()"
        />
        Easy
      </label>
      <label>
        <input
          type="radio"
          name="medium"
          value="medium"
          [(ngModel)]="sort.complexity"
          (change)="onComplexityChange()"
        />
        Medium
      </label>
      <label>
        <input
          type="radio"
          name="hard"
          value="hard"
          [(ngModel)]="sort.complexity"
          (change)="onComplexityChange()"
        />
        Hard
      </label>
    </div>
  </div>
  <div class="challenges-table">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Complexity</th>
          <th *ngIf="!isAdmin">Solved</th>
          <th>Description</th>
          <th *ngIf="!isAdmin">Solved Times</th>
          <th>Creation Time</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let task of tasks"
          [routerLink]="['/challenges/' + task.id]"
        >
          <td>
            {{ task.title }}
          </td>
          <td [ngStyle]="{ color: getColor(task.task_complexities!.name!) }">
            {{ task.task_complexities!.name! }}
          </td>
          <td *ngIf="idsOfSolvedTasks.includes(task.id) && !isAdmin">Yes</td>
          <td *ngIf="!idsOfSolvedTasks.includes(task.id) && !isAdmin">No</td>
          <td>{{ task.description }}</td>
          <td *ngIf="!isAdmin">{{ task.solved_times }}</td>
          <td>{{ task.creation_time | date : "medium" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="arrows-container" *ngIf="!isAdmin">
      <button (click)="prevPage()" [disabled]="sort.page === 1">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button (click)="nextPage()" [disabled]="length - sort.page * 8 <= 0">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
</div>
