.container {
  padding: 0 10%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
}

td {
  height: 3rem;
  border-bottom: 1px solid #ddd;
}

tbody tr {
  cursor: pointer;
}

th {
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #202020;
}
