.container {
  padding: 0 10%;
}

.user-profile-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-column-gap: 5rem;
  margin: 1% 10%;
}

.user-info {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.user-stats {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.user-solutions {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.user-solutions h3 {
  margin-top: 0;
}

.user-solutions table {
  width: 100%;
  border-collapse: collapse;
}

.user-solutions th,
.user-solutions td {
  padding: 0.5rem;
  text-align: left;
}

.user-solutions td {
  height: 3rem;
  border-bottom: 1px solid #ddd;
}

.user-solutions th {
  border-bottom: 1px solid #ddd;
}

.user-solutions tbody tr:nth-child(odd) {
  background-color: #202020;
}

.hljs-dark {
  background-color: inherit;
  color: #abb2bf;
}

.hljs-dark .hljs-comment,
.hljs-dark .hljs-quote {
  color: #5c6370;
}

.hljs-dark .hljs-doctag,
.hljs-dark .hljs-keyword,
.hljs-dark .hljs-name,
.hljs-dark .hljs-meta .hljs-meta-keyword,
.hljs-dark .hljs-template-tag,
.hljs-dark .hljs-type,
.hljs-dark .hljs-variable {
  color: #e5c07b;
}

.hljs-dark .hljs-tag .hljs-attr {
  color: #56b6c2;
}

.hljs-dark .hljs-string,
.hljs-dark .hljs-meta .hljs-meta-string {
  color: #98c379;
}

.hljs-dark .hljs-symbol,
.hljs-dark .hljs-bullet {
  color: #61afef;
}

.hljs-dark .hljs-number,
.hljs-dark .hljs-regexp,
.hljs-dark .hljs-literal,
.hljs-dark .hljs-link {
  color: #d19a66;
}

.hljs-dark .hljs-selector-id,
.hljs-dark .hljs-selector-class,
.hljs-dark .hljs-attribute,
.hljs-dark .hljs-class .hljs-title {
  color: #e06c75;
}
