<app-navigation></app-navigation>
<div class="discussions-container">
  <button (click)="openDialog()">Create new</button>
  <div class="discussions-list">
    <div
      *ngFor="let discussion of discussions"
      class="discussion-item"
      [routerLink]="['/discussions', discussion.id]"
    >
      <div class="discussion-topic">{{ discussion.topic }}</div>
      <mat-icon
        class="delete"
        (click)="deleteDiscussion(discussion.id!); $event.stopPropagation()"
        *ngIf="isAdmin"
        >delete</mat-icon
      >
    </div>
  </div>
</div>
