.discussions-container {
  margin: 0 10%;
}

.discussions-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.discussion-item {
  margin: 20px 1.5% 0 1.5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;

  border-radius: 8px;
  background: #202020;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px;
  width: 22%;
  cursor: pointer;
}

.delete {
  height: 20px;
  color: #e27272;
  margin-left: 15px;
  transition: 0.3s;
}

.delete:hover {
  color: red;
  cursor: pointer;
}

.discussion-topic {
  font-size: 18px;
  text-align: center;
}

button {
  padding: 12px 16px;
  width: 140px;
  font-size: 18px;
  font-weight: 500;

  cursor: pointer;
  border-radius: 8px;

  background: #5c9ce6;
  border: 1px solid #5c9ce6;
  color: #000;
  margin-top: 15px;
  margin-left: 1.5%;
}

button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  transition: 0.3s;
}
