.discussions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.discussions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discussion-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.discussion-topic {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  max-width: 100%;
}

button {
  padding: 12px 16px;
  width: 140px;
  font-size: 18px;
  font-weight: 500;

  cursor: pointer;
  border-radius: 8px;

  background: #5c9ce6;
  border: 1px solid #5c9ce6;
  color: #000;
}

button:hover {
  background: #fff;
  color: #000;
  border: 1px solid #fff;
  transition: 0.3s;
}
