<app-navigation></app-navigation>
<div class="task-container" *ngIf="isTaskLoaded">
  <div class="task-info">
    <h2>{{ task?.title }}</h2>
    <p>{{ task?.description }}</p>
  </div>
  <div class="test">
    <button class="test-btn" (click)="check()">Check</button>
    <button class="test-btn" (click)="query()">Test</button>
    <button class="submit-btn" (click)="submit()" *ngIf="!isAdmin">
      Submit
    </button>
    <button class="confirm-btn" (click)="confirm()" *ngIf="isAdmin">
      Confirm
    </button>
    <button class="reject-btn" (click)="reject()" *ngIf="isAdmin">
      Reject
    </button>
  </div>
  <div class="sql-query">
    <ngx-monaco-editor
      [options]="editorOptions"
      [(ngModel)]="sqlCode"
    ></ngx-monaco-editor>
  </div>
  <div class="sql-results">
    <table>
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td *ngFor="let column of columns">{{ row[column] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="input-container" *ngIf="!isAdmin">
    <input
      [(ngModel)]="content"
      (keyup.enter)="createComment()"
      class="input-field"
    />
    <button (click)="createComment()" class="send-button">Send</button>
  </div>
  <div class="comments" *ngIf="!isAdmin">
    <ul>
      <li *ngFor="let comment of comments">
        <span>
          <span
            style="margin-right: 5px; color: #6dacf3; cursor: pointer"
            [routerLink]="['/profile', comment.users.username]"
          >
            {{ comment.users.username }}
          </span>
          <small>{{ comment.creation_time | date : "MMM d, h:mm a" }}</small>
        </span>
        <div style="margin-top: 5px">{{ comment.content }}</div>
      </li>
    </ul>
  </div>
</div>
